---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$wrapper-width:          1200px;

$base-font-family: 'Roboto', sans-serif;
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     1.875 * $base-font-size;

$text-color:       #111;

$background-color: #fdfdfd;
$brand-color:      darken(#5D2BFF,5%);
$brand-color-dark:  darken($brand-color, 25%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          700px;
$on-laptop:        1200px;

$header-height: 5em;


//Flex-Container

@mixin flex-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: space-between;
    align-content: space-between;
    -webkit-box-align: space-between;
    -moz-box-align: space-between;
    -webkit-align-items: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
}

@mixin flex-container-mobile{
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flex-wrap{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    //flex: 1 0 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

@mixin shadow{
    -webkit-box-shadow: 5px 5px 5px 0px $grey-color-light;
    -moz-box-shadow: 5px 5px 5px 0px $grey-color-light;
    box-shadow: 5px 5px 5px 0px $grey-color-light;
}

@mixin transition($property){
    -webkit-transition: #{$property} 0.5s ease-in-out;
    -moz-transition: #{$property} 0.5s ease-in-out;
    -ms-transition: #{$property} 0.5s ease-in-out;
    -o-transition: #{$property} 0.5s ease-in-out;
    transition: #{$property} 0.5s ease-in-out;
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "custom"
;
