---
layout: default
---

<div class="home">

  <div class="intro">
    <img class="portrait" src="/images/hannes_tscherrig.jpg" id="/images/hannes_tscherrig.jpg"alt="Hannes Tscherrig">
    <span>
      <p>Saugute Inhalte suchen Sie? Da muss ich passen. Hier finden Sie lediglich, was ich auf dem Weg zu sauguten Inhalten so alles lerne.<br><em>Hannes Tscherrig</em></p>
    </span>
  </div>

  <ul class="post-list"> 

  	<!-- top article -->
    {% for post in site.posts limit:1 %}
      {% include card-with-image.html  %}
    {% endfor %}

    <!-- Contact -->
		{% include call-to-action.html %}
	
    <!-- featured articles -->
	  {% for post in site.posts offset:1 limit:4 %}
      {% include card-with-image.html  %}
    {% endfor %}

    <!-- featured articles no images -->
    {% for post in site.posts offset:5 limit:2 %}
      {% include card.html  %}
    {% endfor %}

  </ul>

  {% for post in site.posts offset:7 limit:5 %}
      {% include simple-post.html  %}
  {% endfor %}

  <div id="toggle">
    {% for post in site.posts offset:12 %}
      {% include simple-post.html  %}
    {% endfor %}
  </div>
  {% include toggle-button.html %}