---
layout: default
---

<div class="home">

  <ul class="post-list"> 

  	<!-- top article -->
    {% for post in site.posts limit:1 %}
      {% include card-with-image.html  %}
    {% endfor %}

    <!-- Contact -->
		{% include call-to-action.html %}
	
    <!-- featured articles -->
	  {% for post in site.posts offset:1 limit:6 %}
      {% include card-with-image.html  %}
    {% endfor %}

  </ul>
  
  {% for post in site.posts offset:7 limit:5 %}
      {% include simple-post.html  %}
  {% endfor %}

  <div id="toggle">
    {% for post in site.posts offset:12 %}
      {% include simple-post.html  %}
    {% endfor %}
  </div>
  
  {% include toggle-button.html %}