---
layout: default
---

<div class="home">

  <div class="intro">
    <img class="portrait" src="/images/hannes_tscherrig.jpg" alt="">
    <span><p>Guten Tag, mein Name ist Hannes Tscherrig. Ich plane, texte und optimiere Inhalte für Internauten.
  </div>

  <ul class="post-list"> 

  	<!-- top article -->
    {% for post in site.posts limit:1 %}
      {% include card-with-image.html  %}
    {% endfor %}

    <!-- Contact -->
	
		{% include call-to-action.html %}
	
    
    <!-- featured articles -->
	  {% for post in site.posts offset:1 limit:6 %}
      {% include card-with-image.html  %}
    {% endfor %}
    
  </ul>

 <p class="rss-subscribe">Als <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS-Feed</a> abonnieren</p> 