<style type="text/css">
#about-container{
width:100%;
display:flex;
margin-bottom:2em;
-webkit-box-shadow: 5px 5px 40px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 40px 10px rgba(0,0,0,0.75);
box-shadow: 5px 5px 40px 10px rgba(0,0,0,0.75);
}
#about-foto{
background-color:#252525;
order:1;
position:center;
}
#about-text{
padding:1em;
order:2;
}
</style>

<div id="about-container">
<div id="about-foto">
<img alt="Hannes Tscherrig. Texter, Konzepter und Content-Spezialist." src="/images/hannes_tscherrig.jpg" />
</div>
<div id="about-text">
<p>
{{site.description}}
</p>
</div>
</div>
<div style="clear:both;margin-bottom:1em;margin-top;"></div>