<div class="contact">
	
	<ul>
		<h2>Feedback?</h2>
		<p>Ihre Rückmeldung macht diese Website besser:</p>
		<li><a target="_blank" href="https://twitter.com/tscherris">Zwischern</a> Sie mir etwas zu!</li>
		<li>Schreiben Sie <a href="mailto:{{site.email}}">eine Mail</a>!</li>
		<li>Oder hinterlassen Sie einen Kommentar:
			<ul class="commented">
				{% for post in site.posts %}
					{% if post.comments %}
					<li>
	      				<a href="{{ post.url | prepend: site.baseurl | append: "#short" }}">{{ post.title}}</a>
	    			</li>
	    			{% endif %}
				{% endfor %}
			</ul>
		</li>
	</ul>
</div>