<div class="card" >
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
    	
      {% if post.img %}<div class="home-pic-container">
        <figure>
          <img src="/{{ post.img }}" 
          {% if post.alt %}
            alt="{{ post.alt }}"
          {% elsif post.caption %}
            alt="{{ post.caption }}"
          {% else %}
            alt="{{ post.title }}"
          {% endif %}>
          {% if post.caption %}<figcaption>
            {{ post.caption }}
          </figcaption>{% endif %}
        </figure>
      </div>{% endif %}
      
      <li>
          <span class="post-meta">{% include monat.html %}</span>
          <h2>
            {{ post.title }}
          </h2>
          <p>
            {{post.excerpt}}
          </p>
    	</li>
    </a>
</div>