{% if post %}
  {% assign item = post %}
{% else %}
  {% assign item = page %}
{% endif %}

{% if item.img %}<div class="home-pic-container">
  <figure>
     <img src="/loader.gif"
          data-layzr="/{{ item.img }}" 
          {% if item.alt %}
            alt="{{ item.alt }}"
          {% elsif item.caption %}
            alt="{{ item.caption }}"
          {% else %}
            alt="{{ item.title }}"
          {% endif %} itemprop="image">
      {% if item.caption %}
      <figcaption>
            {{ item.caption }}
      </figcaption>
      {% endif %}
  </figure>
</div>{% endif %}