{% if post %}
  {% assign item = post %}
{% else %}
  {% assign item = page %}
{% endif %}

{% if item.img %}<div class="home-pic-container">
  <figure>
     <img data-src="/{{ item.img }}" data-srcset="/{{ item.img }}" class="lazy" 
          {% if item.alt %}
            alt="{{ item.alt }}"
          {% elsif item.caption %}
            alt="{{ item.caption }}"
          {% else %}
            alt="{{ item.title }}"
          {% endif %} itemprop="image">
    <noscript>
      <img src="/{{ item.img }}" srcset="/{{ item.img }}" />
    </noscript>
      {% if item.caption %}
      <figcaption>
            {{ item.caption }}
      </figcaption>
      {% endif %}
  </figure>
</div>{% endif %}