<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">

	<title>{% if page.title %} {{ page.title}} | Hannes Tscherrig {% else %} {{ site.title }} | {{ site.bio }} {% endif %}</title>
	<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt}}{% else %}{{ site.description }}{% endif %}">
    <link async rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title}}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="{% if page.img %}{{ page.img | prepend: site.baseurl | prepend: "/" | prepend: site.url }}{% endif %}">
    <!-- Open Graph data -->
    <meta property="og:title" content="{% if page.title %}{{ page.title}}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{% if page.url %}{{ page.url | prepend: site.baseurl | prepend: site.url }}{% else %}{{ post.url | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
    <meta property="og:image" content="{% if page.img %}{{ page.img | prepend: site.baseurl | prepend: "/" | prepend: site.url }}{% endif %}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" /> 
    <meta property="og:site_name" content="{{ site.title }}" />
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" async></script>