<header class="site-header"> 
  <!-- logo -->
  <div class="wrapper">
    {% if page.url == "'/index.html' | prepend: site.baseurl" %}
      <a class="site-title" title="{{ site.description }}" href="{{ site.baseurl }}/">{% include logo-on-white.html %}</a>
    {% else %}
      <a class="site-title" title="{{ site.description }}" href="{{ site.baseurl }}/">{% include logo.html %}</a>
    {% endif %}

    <!-- nav -->
    <nav class="site-nav">
      <a href="#" class="menu-icon">MENU</a>
      <div class="trigger">
        {% assign pages = site.pages | sort:"order" %}
        {% for node in pages %}
        {% if node.title %}
            {% if page.url == node.url %}
              <a class="page-link active" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
            {% else %}
              <a class="page-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        <form class="page-link" action="javascript:void(0);" method="GET">
          <fieldset>
            <input type="search" name="search" 
             placeholder="What are you looking for?"
             autocomplete="off">
            <input type="submit" value='Search' class="button">
          </fieldset>
        </form>
      </div>
    </nav>
  </div>
</header>