<!-- search -->
{% include search.html %}

<header class="site-header"> 
  <!-- logo -->
  <div class="wrapper">
    {% if page.url == "'/index.html' | prepend: site.baseurl" %}
      <a class="site-title" title="{{ site.description }}" href="{{ site.baseurl }}/">{% include logo-on-white.html %}</a>
    {% else %}
      <a class="site-title" title="{{ site.description }}" href="{{ site.baseurl }}/">{% include logo.html %}</a>
    {% endif %}
    <!-- nav -->
    {% include nav.html%}
  </div>
</header>