{% if post.date %}
  {% assign item = post %}
  {% else %}
  {% assign item = page %}
{% endif %}

  {% assign m = item.date | date: "%-m" %}
  {{ item.date | date: "%-d" }}. 
  {% case m %}
    {% when '1' %}Januar
    {% when '2' %}Februar
    {% when '3' %}März
    {% when '4' %}April
    {% when '5' %}Mai
    {% when '6' %}Juni
    {% when '7' %}Juli
    {% when '8' %}August
    {% when '9' %}September
    {% when '10' %}Oktober
    {% when '11' %}November
    {% when '12' %}Dezember
  {% endcase %}
  {{ item.date | date: "%Y" }}