{% if page.url == '/index.html' %}
<div class="simple-post" itemscope itemtype="http://schema.org/Article">
    <div class="custom-wrapper">
        <a href="{{ post.url | prepend: site.baseurl }}" property="url"><span itemprop="name">{{ post.title }}</span></a>, publiziert am <span itemprop="datePublished">{% include monat.html %}</span>.
    </div>
</div>
{% else %}
<div class="simple-post">
    <div class="custom-wrapper">
        <a href="{{ post.url | prepend: site.baseurl }}" itemprop="relatedLink">{{ post.title }}</a>, publiziert am {% include monat.html %}.
    </div>
</div>
{% endif %}
