//figure and caption

figure{
    margin-bottom:0px;
}

figcaption{
    position:relative;
    height:0px;
    color:$grey-color-light;
    bottom:2em;
    text-align:right;
    padding-right:1em;
    font-size:$base-font-size / 2.5;
}

//header

.site-header{
    @include transition(opacity);
    position:fixed;
    z-index:1;
    opacity:0.9;
    background:white;
    &:hover, &:focus, &:active{
        opacity:1;
    }
}

.anchor {
  position: relative;
  opacity:0;
  top: -40px;  /* depending on the size of the sticky menu */
}

.page-content{
    padding-top:5em;
}

//Small UI-Components

ul{
	list-style:square;
}

#about-container{
	@include flex-container;
    @include shadow;
	width:100%;
	border-top: 5px solid $brand-color-dark;
	background-color:$grey-color-light;
	margin-bottom:1em;
    @include media-query($on-palm){
        @include flex-container-mobile;
    }
}

#about-part{
	@include flex-wrap;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width:66.6666666666666666666%;
	p {
		padding:1.3em;
	}
    @include media-query($on-palm) {
        width:100%;
        img{
            min-width:100%;
        }
    }
}

#about-foto{
    @extend #about-part;
    width:33.3333333333333333333333333%;
    min-width:200px;
    @include media-query($on-palm){
        width:100%;
    }
}

// Adding support for responsive iframes

        .frame{
            position: relative;
            padding-bottom: 34%;
            padding-top: 35px;
            height: 0;
            overflow: hidden;
        }
        .frame iframe{
              position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
        }


// front page customization

.card{
	@include flex-wrap;
    @include shadow;
    @include transition(background-color);
	width:48%;
    background-color:white;
    margin-right:2%;
    margin-bottom:1em;
    p {
        color:$text-color;
    }
    &:hover, &:active, &focus{
        background-color:$grey-color-light;
        .home-pic-container img{
            opacity:0.7;
        }
        a{
            text-decoration:none;
        }
    }
    @include media-query($on-palm){
        width: 49%;
    }
    @include media-query($on-palm){
        width: 100%;
        margin-right: 0px;
    }
}

.related .card{
    margin-top: 1em;
    margin-right:2% !important;
    width:31.3333333333333%;
    @include media-query($on-laptop){
        width:48%;
    }
    @include media-query($on-palm){
        width:100%;
    }
}

.commented{
    list-style:none;
    margin-left: 0px;
    li{
        margin-top:0.5em;
    }
}

.related{
    margin-top:2em;
    border-top: 5px solid $grey-color-light;
    width: 100% !important;
}

.home-pic-container{

    background-color:$brand-color-dark;
    width:100%;
    overflow:hidden;
    img{
        @include transition(opacity);
        min-width:100%;
        opacity:0.9;
    }
}

.ad{
    @extend #about-container;
    position: absolute;
    width:26.5%;
    @include media-query($on-laptop){
        position:static;
        width:48%;
        margin-right:2%;
    }
    @include media-query($on-palm){
        position:static;
        width:100%;
    }
}

.contact{
    padding:1em;
    li{
        padding:0px !important;
            }
}

.post-list li {
	padding:$spacing-unit / 2;
}

.home .post-list > :first-child {
    width:98% !important;
    @include media-query($on-palm){
        width: 100% !important;
    }
}

.post-list {
    //float:left;
	margin-left: 0;
	list-style: none;
    width:66.6666%;
	@include flex-container;
    @include media-query($on-palm){
        @include flex-container-mobile;
    }
    @include media-query($on-laptop){
        width:100%;
        :first-child, :nth-child(2n+1){
            margin-right:0px;
        }
    }
}

.wrapper{
    max-width:$wrapper-width;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.home .post-list{
    > :first-child{
        width:66.66666666666666666%;
        font-size:1.3em;
        @include media-query($on-laptop){
            width:100%;
        }
        @include media-query($on-palm){
            width:100%;
            font-size:1em;
        }
    } 
}

.post-content > p, .post-content ul > li, .post-content ol > li, #disqus_thread, .frame {
   	width:66.6666666666666%;
    max-width:35em;
    @include media-query($on-palm){
        width:100%;
    }
    @include media-query($on-laptop) {
        width:100%;
    }
}