ul{
	list-style:square;
}
.related{
	border-top:1px solid $grey-color-light;
}

#about-container{
	max-width:100%;
	@include flex-container;
	@include flex-wrap;
	border-top: 3px solid $brand-color-dark;
	border-bottom: 3px solid $brand-color-dark;
	background-color:$grey-color-light;
	margin-bottom:1em;
}
#about-part{
	
	width:50%;
	p {
		padding:1em;
	}
}


// front page customization

.card{
	width:33.33333333333333%;
	border-bottom:1px solid $grey-color-light;
	border-top: 3px solid $background-color;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: border-color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    /* Standard syntax */
    transition-property: border-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.card:hover, .card:active, .card:focus{
	background-color:$grey-color-light;
	border-top: 3px solid $brand-color-dark;
}

.post-list li {
	padding:$spacing-unit / 2;
	@include flex-wrap;
}

.post-list {
	margin-left: 0;
	list-style: none;
	@include flex-container;
}

.post-content > p, .post-content ul > li, .post-conent ol > li, blockquote, #disqus_thread {
   	max-width:66.6666666666666%;
}

@include media-query($on-laptop) {
    .card {
         width:50%;
    }
        .post-content > p, .post-content ul > li, .post-conent ol > li, blockquote, #disqus_thread {
     	max-width:100%;
    }
}

@include media-query($on-palm) {
    #about-part, .card{
     	width: 100%;
     	img{
     		min-width:100%;
     		padding-top:1em;
     	}
    }

}
