<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body onload="linkTargets(), loadFonts()">
    {% include analytics.html %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="/js/fixed.js"></script>
    <script>
      // Open external links in new windows
      function linkTargets() {
         for (var links = document.links, i = 0, a; a = links[i]; i++) {
              if (a.host !== location.host && a.id !== "tglBtn") {
                      a.target = '_blank';
              }
          }
      }
      // Load Google Fonts
      function loadFonts(){
        WebFont.load({
          google: { 
            families: ['Raleway:n3,n6'] 
          } 
         }); 
      }
      // Create the scrollbar measurement node hack by David Walsh
      var scrollDiv = document.createElement("div");
      scrollDiv.className = "scrollbar-measure";
      document.body.appendChild(scrollDiv);
      var scrollbarWidth = scrollDiv.offsetWidth - scrollDiv.clientWidth;
      document.body.removeChild(scrollDiv);
    </script>
    <!-- Twitter Widget Embed Code -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
  </body>
</html>