---
layout: compress
---

<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body onload="linkTargets()">

    <div id="div" style="height:0;width:0;outline:none;border:none;padding:none;margin:none;"></div>
    
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Raleway:regular', 'Playfair Display:regular']
        }
      });
    </script>
  
  </body>
</html>