<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body onload="linkTargets(), loadFonts()">
    {% include analytics.html %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script>
      // Open external links in new windows
      function linkTargets() {
         for (var links = document.links, i = 0, a; a = links[i]; i++) {
              if (a.host !== location.host) {
                      a.target = '_blank';
              }
          }
      }
      // Load Google Fonts
      function loadFonts(){
        WebFont.load({
          google: { 
            families: ['Raleway:300'] 
          } 
         }); 
      }
      // Create the scrollbar measurement node hack by David Walsh
      var scrollDiv = document.createElement("div");
      scrollDiv.className = "scrollbar-measure";
      document.body.appendChild(scrollDiv);
      var scrollbarWidth = scrollDiv.offsetWidth - scrollDiv.clientWidth;
      document.body.removeChild(scrollDiv);
    </script>
  </body>
</html>